<!doctype html>

<html>
<head>
	<title>JEM Streamlined Cell Tracing</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	   <div class="navbar navbar-inverse navbar-static-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" style="font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;"  href="/">JEM Tracer I</a>
	        </div>

	        

				<div class="collapse navbar-collapse pull-right">
	          <ul class="nav navbar-nav">
	            <li><a style="font-family: HelveticaNeue-UltraLight, Helvetica Neue UltraLight, Helvetica Neue, Arial, Helvetica, sans-serif;" href="user">[user profile]</a></li>
	            <li><a style="font-family: HelveticaNeue-UltraLight, Helvetica Neue UltraLight, Helvetica Neue, Arial, Helvetica, sans-serif;" href="login">log in</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->

			<div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li><a style="font-family: HelveticaNeue-UltraLight, Helvetica Neue UltraLight, Helvetica Neue, Arial, Helvetica, sans-serif;" href="about">about</a></li>

				 <li><a style="font-family: HelveticaNeue-UltraLight, Helvetica Neue UltraLight, Helvetica Neue, Arial, Helvetica, sans-serif;" href="upload">upload picture</a></li>

				  <li><a style="font-family: HelveticaNeue-UltraLight, Helvetica Neue UltraLight, Helvetica Neue, Arial, Helvetica, sans-serif;" href="results">results</a></li>

	            <li><a style="font-family: HelveticaNeue-UltraLight, Helvetica Neue UltraLight, Helvetica Neue, Arial, Helvetica, sans-serif;" href="trace">start tracing</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->     

	      </div>
	    </div>
	
		<!--Inspiration-->
		<div class="row" style="background-color:white; opacity:0.7">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h1 class="pull-right">inspiration</h1><br><br><br><br>

				<p> Stanford School of Medicine's Yang Lab in the Dept. of Orthopedic Surgery Lab is developing the ability of endothelial cells to form blood vessels in vitro, and as a result these researchers have to spend hours with Photoshop tracing cell culture images which are then processed by a Java library, imageJ, to count nodes, branches, and the general quantitative analysis of the ability of endothelial cells to form tube like structures of vessels.</p>

				<p> Because this lab has six different project students who trace cells, the tracing of cells are highly differentiated as many of the students have slightly different qualifications for where they should and should not trace a cluster of cells. Therefore, because of this lack of uniformity in the tracing, the results are less consistent and, perhaps, less precise. </p>

				<p> We believe the process of tracing a cell image in vitro should not take 3 hours.  </p>

			</div>
		</div>
		<br> <br>
		<!--The Team-->
		<div class="row" style="background-color:white; opacity:0.7">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<!--p class="pull-left" style="font-size:32"> meet the team </p-->
				<h1>meet the team</h1>
			</div>
			<div class="col-md-1"></div>
		</div>
		
		<div class="row" style="background-color:white; opacity:0.7">
			<center>
			<div class="col-md-2"></div>
			
			<div class="col-md-3">
				<center>
					<br>
					<p><b> Justin Meier</b> </p>
					<img src="../images/justin.png" class="img-thumbnail">
					<p> <br> Justin is studying Artificial Intelligence in Computer Science and Psychology.</p>
				</center>
			</div>
			
			<div class="col-md-3">
				<center>
					<br>
					<p> <b> Miraj Rahematpura </b> </p>
					<img src="../images/miraj.png" class="img-thumbnail">
					<p> <br> Miraj is studying Human Computer Interaction in Computer Science.</p>
				</center>
			</div>
			
			<div class="col-md-3">
				<center>
					<br>
					<p> <b> Lissette Valenzuela </b> </p>
					<img src="../images/lissette.png" class="img-thumbnail">
					<p> <br> Lissette is studying Human Computer Interaction in Computer Science and Architecture.</p>
				</center>
			</div>
			</center>
		</div>

	 <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
