<!doctype html>

<html>
<head>
	<title>JEM Streamlined Cell Tracing</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	   <div class="navbar navbar-inverse navbar-static-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" style="font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;"  href="/">JEM Tracer I</a>
	        </div>	        

			<div class="collapse navbar-collapse pull-right">
	          <ul class="nav navbar-nav">
	            <!--li><a href="user">[user profile]</a></li>
	            <li><a href="login">log in</a></li-->
	          </ul>
	        </div><!--/.nav-collapse -->

			<div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="about">about</a></li>

				 <!--li><a href="upload">upload picture</a></li>

	            <li><a href="trace">start tracing</a></li-->
	          </ul>
	        </div><!--/.nav-collapse -->  

	      </div>
	    </div>
	    <!-- END NAVBAR -->

		<div style="padding-top:15%;"></div>
		<div class="row" style="background-color:white; opacity:0.7;">
			<div class="col-md-2"></div>
			<div class="col-md-8">  <!--style="background-color:white; opacity: 0.4;"-->
					<h1><center>JEM Streamlined Cell-Tracer</center></h1>
			</div>
		</div>	
		<div class="row" style="background-color:white; opacity:0.7">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<br><center><p> Developed by Stanford students, JEM Tracer is a platform for cell tracing to be crowdsourced. JEM streamlines the process of professors connecting to students to trace cells. </p>
				</center>
			</div>
		</div>
		<br><br>

		<div class="row" style="background-color:white; opacity:0.7;">
			<div class="col-md-2"></div>
			<div class="col-md-8">  <!--style="background-color:white; opacity: 0.4;"-->
					<h3><center>Enter the site:</center></h3>
			
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<center>

					<a href="tracer">						
						<button type="button" class="btn btn-default btn-lg">
							Tracer (Student)
						</button>
					</a>

					<a href="prof">
						<button type="button" class="btn btn-default btn-lg">
							Professor
						</button>
					</a>

				</center>
			</div>

			<div style="margin-bottom:10%"> </div>
		</div>
		


		<!--center style="background-color:white; opacity:0.7">
			<br>
			<form action="">
				<p style="font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;"><i>Sign up to be updated on JEM Streamlined Cell-Tracer</i></p>

				<input id="email_form" type="text" placeholder="Email" style="font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;">

				<a style="font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;"><input type="submit" type="button" class="btn btn-default"> </p>

				<style>
					.valid{background-color:#D1FFD1;}
					.invalid{background-color:red;}
				</style>
				
			</form>
			<br>
		</center-->
	
 		
 
		<!-- Firebase.js -->
		<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.2/firebase.js'></script>
 
		<!-- jQuery -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		
		<script>
			var fb = new Firebase('https://jemtracing-signup.firebaseio.com');
 
			$('form').on('submit', function() {
				var email_address = $('#email_form').val()
				
				if (validateEmail(email_address)) {
					fb.child('emails').push(email_address)
				};
			})

			$('#email_form').on('keyup', function() {
				var test = $(this).val();

				if (validateEmail(test)) {
					$(this).addClass('valid');
				} else {
					$(this).removeClass('valid');				
				}
			})
 
			function validateEmail(email) { 
			    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			    return re.test(email);
			} 
		</script>
		 <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    	<script src="js/bootstrap.min.js"></script>
</body>
</html>
