<!doctype html>

<html>
<head>
	<title>JEM Streamlined Cell Tracing</title>		
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	   <div class="navbar navbar-inverse navbar-static-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">JEM Tracer I</a>
	        </div>

			<div class="collapse navbar-collapse pull-right">
	          <ul class="nav navbar-nav">
	            <li><a href="user">[user profile]</a></li>
	            <li><a href="login">log in</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->

			<div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="about">about</a></li>

				 <li><a href="upload">upload picture</a></li>

				  <li><a href="results">results</a></li>

	            <li><a href="trace">start tracing</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->    
	      </div>
	    </div>
	    <!-- NAV END-->

	    <!--Log in type: prof or student-->
		<div class="row" style="background-color:white; opacity: 0.7;">
			<div class="col-md-6">
					<h1><center>Professors</center></h1>
					<br>
					<i><center><h4> 
						Get your in-vitro cell images traced by dozens of students to ensure accuracy!
						<br><br>
						Easy as uploading an image and waiting for results!<br>
					</h4></center></i>
			</div>

			
			
			<div class="col-md-6">
					<h1><center>Students</center></h1>
					<br>
					<i><center><h4> 
						Get course credit for tracing in-vitro cell images from your research lab!
						<br><br>
						Monitor your accuracy and completion levels against other students!<br>
					</h4></center></i>
			</div>
		</div>	
		<!-- end prof or student description-->

		<br><br><br><br>
		<!--SIGN IN w/ just email-->
		<div class="row" style="background-color:white; opacity: 0.7;">
			<div class="col-md-4"></div>
			
			<div class="col-md-4"><center>
		      

		      <form class="form-signin" role="form">
		        <h2 class="form-signin-heading">Please sign in or<br> make a new account</h2>
		        <input type="email" class="form-control" placeholder="Email address" required autofocus><br>
		        <!--input type="password" class="form-control" placeholder="Password" required-->
		        <!--label class="checkbox">
		          <input type="checkbox" value="remember-me"> Remember me
		        </label-->
		        <!--button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button-->
		        <button class="btn btn-default" type="submit">Sign in as professor</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-default" type="submit">Sign in as student</button>
		      </form>

				<form id="addFriendForm" role="form" method="get" action="/add">
					<h3>Add a friend</h3>
				    <div class="form-group">
				      <label for="name">Name:</label>
				      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
				    </div>
				    <input type="submit" id="submitBtn" class="btn btn-default" value="Add the friend"></input>
				</form>

		      <br>
		     </center></div>

	    </div> <!-- /container -->



		
		 		
 
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    	<script src="js/bootstrap.min.js"></script>
</body>
</html>
