<!doctype html>

<html>
<head>
	<title>JEM Streamlined Cell Tracing</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" style="font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;"  href="/">JEM Tracer I</a>
	        </div>

	        

				<div class="collapse navbar-collapse pull-right">
		          <ul class="nav navbar-nav">
		            <!--li><a href="user">[user profile]</a></li>
		            <li><a href="login">log in</a></li-->
		            <li><a href="tracer">Sign in as a Tracer/Student</a></li>
		          </ul>
		        </div><!--/.nav-collapse -->

			<div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <!--li><a href="#">getting started</a></li>
	            <li><a href="#">start tracing</a></li-->

				 <!--li><a href="upload">upload picture</a></li>

				  <li><a href="results">results</a></li>

	            <li><a href="trace">start tracing</a></li-->
	          </ul>
	        </div><!--/.nav-collapse -->     

	      </div>
	    </div>

	    <!--end navbar-->
	    <h1> Professor Login </h1>
		<a href="/"><input type="submit" id="submitBtn" class="btn btn-default" value="Back to Main Menu" style="margin-left:10px"></input></a>
		<br><br>
		<dic class="row" style="background-color:white; opacity:0.7;"> 
			
			<form id="addTracerForm" role="form" method="get" action="/addProf" style="background-color:white; opacity:0.7; padding:10px">
				<h3>Sign Up</h3>
			    <div class="form-group">
			      <label for="name">Name:</label>
			      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
			    </div>
			    <div class="form-group">
			      <label for="description">Description:</label>
			      <input type="text" class="form-control" id="description" placeholder="Description" name="description">
			    </div>
			    <input type="submit" id="submitBtn" class="btn btn-default" value="Sign Up"></input>
			</form>
		</div>
	
		<br> <br> 
		<div class="row" style="background-color:white; opacity:0.7; padding:10px">
			<div class="col-md-1"></div> 
			<div class="col-md-10">  <!--style="background-color:white; opacity: 0.4;"-->
				<h3> or Sign In by clicking on your profile... </h3>
				<{{#each profs}}
					<div class="prof col-md-4">
		       			<img src="{{imageURL}}">
		        		<h3><a class="prof-name" href="{{profile-link}}">{{name}}</a></h3>
		        		<p>{{description}}</p>
			    	</div>
		    	{{/each}}>

			</div>
			<div class="col-md-1"></div>
		</div>	
	
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    	<script src="js/bootstrap.min.js"></script>
</body>
</html>
