<!doctype html>

<html>
<head>
	<title>JEM Streamlined Cell Tracing</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	   <div class="navbar navbar-inverse navbar-static-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" style="font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;"  href="/">JEM Tracer I</a>
	        </div>

	        

				<div class="collapse navbar-collapse pull-right">
	          <ul class="nav navbar-nav">
	            <li><a style="font-family: HelveticaNeue-UltraLight, Helvetica Neue UltraLight, Helvetica Neue, Arial, Helvetica, sans-serif;" href="user">[user profile]</a></li>
	            <li><a style="font-family: HelveticaNeue-UltraLight, Helvetica Neue UltraLight, Helvetica Neue, Arial, Helvetica, sans-serif;" href="login">log in</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->

			<div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li><a style="font-family: HelveticaNeue-UltraLight, Helvetica Neue UltraLight, Helvetica Neue, Arial, Helvetica, sans-serif;" href="about">about</a></li>

				 <li><a style="font-family: HelveticaNeue-UltraLight, Helvetica Neue UltraLight, Helvetica Neue, Arial, Helvetica, sans-serif;" href="upload">upload picture</a></li>

				  <li><a style="font-family: HelveticaNeue-UltraLight, Helvetica Neue UltraLight, Helvetica Neue, Arial, Helvetica, sans-serif;" href="results">results</a></li>

	            <li><a style="font-family: HelveticaNeue-UltraLight, Helvetica Neue UltraLight, Helvetica Neue, Arial, Helvetica, sans-serif;" href="trace">start tracing</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->  

	      </div>
	    </div>

	    <!--end navbar-->s
	
		<div class="row" style="background-color:white; opacity:0.7;">
			<div class="col-md-2"></div>
			<div class="col-md-8">  <!--style="background-color:white; opacity: 0.4;"-->
					<h4><center>This page will appear for logged in students. It will allow students' to receive an assignment from a specific professor, browse available photos needed to be traced, alert the student how many more traces s/he has to complete that week to continue receiving course credit.  A student will be able to download an image and then reupload the completed trace of that image.</center></h4>
			</div>
		</div>	
	
 		
 
		 <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    	<script src="js/bootstrap.min.js"></script>
</body>
</html>
